server:
  port: 0
      
spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1/universe?currentSchema=andromeda
    username: postgres
    password: 123456
  redis:
    host: 127.0.0.1
    port: 6379
    jedis:
      pool:
        max-active: 1000
        max-idle: 10
        min-idle: 1
        max-wait: 1000ms

jwt:
  issuer: o
  sign: andromeda
  expMinute: 10
  refreshExpMinute: 60

vonage:
  apiKey: aaa
  apiSecret: aaa
