server:
  port: 8906

spring:
  datasource:
    url: jdbc:postgresql://pgsql/universe?currentSchema=andromeda
    username: postgres
    password: 123456
  redis:
    host: redis
    port: 6379
    jedis:
      pool:
        max-active: 1000
        max-idle: 10
        min-idle: 1
        max-wait: 1s

jwt:
  issuer: o
  # use sign or the rsa path
  sign: andromeda
  # use this or the rsa path
  rsaPrivatePath: config/jwt-private.pem
  rsaPublicPath: config/jwt-public.pem
  expMinute: 10
  refreshExpMinute: 60
