server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1/universe?currentSchema=andromeda
    username: postgres
    password: 123456
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      lettuce:
        pool:
          max-active: 1000
          max-idle: 10
          min-idle: 1
          max-wait: 1s


jwt:
  issuer: o
  # use sign or the rsa path
  sign: andromeda
  # use this or the rsa path
  rsaPrivatePath: src/main/resources/jwt-private.pem
  rsaPublicPath: src/main/resources/jwt-public.pem
  expMinute: 10
  refreshExpMinute: 60

security:
  needLength: 6
  needUpper: 0
  needLower: 1
  needNum: 1
  needSpec: 0
  # ALL, NOT_SAME, NOT_INCLUDE
  needMixLevel: ALL


vonage:
  apiKey: aaa
  apiSecret: aaa
